body{
  background: url('../img/trtbl.jpeg') center / cover;
  opacity: 0.8;
  font-size: 200%
}
.content {
  height: auto;
  width: 700px;
  margin:0 auto;
  margin-top: 50px;
}

.player.mdl-card {
  width: 700px;
  margin-bottom: 10px;
}
.player > .mdl-card__title {
  color: #fff;
  height: 200px;
}

.list-control {
  overflow-x: scroll;
  overflow: scroll;
  width: 700px;
  height: 400px;
}
.list {
  width: 700px;
}

.li-highlight {
  font-size: 1.2rem;
  color: rgba(8, 151, 167, 0.86);
}