.player.mdl-card {
  width: 500px;
  margin-bottom: 10px;
}
.player > .mdl-card__title {
  color: #fff;
  height: 500px;
  background: url('../img/trtbl.jpeg') center / cover;
}

.list-control {
  width: 500px;
  height: 100px;
  margin-bottom: 10px;
  overflow: scroll;
  overflow-x: hidden;
}
.list {
  width: 500px;
}